[user]
	name = Jensen
	email = jensenojs@qq.com
	signingkey = 47C9C269F4B57E95DA6237FB0B085D77F6840BEF
[url "https://github.com/"]
	insteadOf = git://github.com/
[core]
	editor = nvim
[init]
	defaultBranch = main
[http]
	proxy = http://127.0.0.1:7890
[https]
	proxy = http://127.0.0.1:7890
